<div class="highlight-card">

    <span>Please add books from the grid, to your Borrowed List</span>
</div>
<div class="card-container" fxFlex="100%">
    <a *ngFor="let book of libraryService.bookList">
        <mat-card class="book-card">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>
                    <h3>{{book.name}}</h3>
                </mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <p>{{book.description}}</p>
            </mat-card-content>
            <mat-card-footer>Copies available : {{book.count}}</mat-card-footer>
            <mat-card-actions>
                <button class = "button" mat-button (click)="borrowBook(book.id)">Borrow</button>
            </mat-card-actions>
        </mat-card>
    </a>
</div>