<div>
<div class="highlight-card">
    <span><b>Please login</b></span> 
  </div>
<div class="card-container" fxFlex="100%">
    <a>
        <mat-card class="book-card" >
            <mat-card-header>

            </mat-card-header>
            <mat-card-content>
                <div>
               <label>User name : </label>
               <input type="text" [(ngModel)]="userName">
            </div><br>
            <div>
               <label>Password : </label>
               <input type="password" [(ngModel)]="password">
            </div>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button (click)="login()">Login</button>
            </mat-card-actions>
            <span *ngIf="invalidLogin"> Invalid login.</span>
        </mat-card>
    </a>
</div>
</div>